@using Microsoft.AspNet.Identity
@model Repository.Models.Message

@{
    ViewBag.Title = "Szczegóły wiadomości";
    ViewBag.KeyWords = "Details, Szczegóły, Wiadomość, Odebrana, Wysłana";
    ViewBag.Description = "Szczegółowe informacje o wiadomości";
}

<h2>Szczegóły</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenTime)
        </dd>

        

    </dl>
</div>
<p>
    @if (User.Identity.GetUserId().Equals(Model.RecipientId))
    {
        @Html.ActionLink("Odpowiedz", "Create", new {id = Model.SenderId},new {@class = "btn btn-secondary"})
    }
    @Html.ActionLink("Powrót", "Index", null,new { @class = "btn btn-success"})
</p>
