@using PagedList.Mvc
@model PagedList.IPagedList<Repository.Models.Message>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Lista wiadomości";
    ViewBag.KeyWords = "Wiadomości, Wysłane, Odebrane";
    ViewBag.Descriptions = "Lista wiadomości przypisanych do Twojego konta";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].SendTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].OpenTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].SenderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].RecipientId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientId)
            </td>
            <td>
                @Html.ActionLink("Szczegóły", "Details", new { id=item.Id })
                @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

</table>

<div>
    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount
    @Html.PagedListPager(Model,page => Url.Action("Index",new {page}))
</div>
